## Exercício 1: NumPy array Indexing/Slicing

1.1 Neste exercício, vamos usar o iris dataset. Carrega o iris.csv
usando o método read apropriado para o tipo de ficheiro.

In [1]:
import pandas as pd

iris = pd.read_csv('/Users/beatr/Mestrado/2ºano/si/datasets/iris.csv')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

1.2 Seleciona a primeira variável independente e verifica a
dimensão do array resultante

In [2]:
dimension= iris.sepal_length.shape
dimension

(150,)

1.3  Seleciona as últimas 5 amostras do iris dataset. Qual a
média das últimas 5 amostras para cada variável
independente/feature?

In [19]:
from numpy import mean
last5= iris.tail(5)
last5

     sepal_length  sepal_width  petal_length  petal_width           class
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [20]:
mean(last5)

sepal_length    6.32
sepal_width     2.98
petal_length    5.18
petal_width     2.06
dtype: float64

1.4 Seleciona todas as amostras do dataset com valor superior
ou igual a 1. Nota que o array resultante deve ter apenas
amostras com valores iguais ou superiores a 1 para todas as
features.

In [28]:
iris.loc[(iris.sepal_length >= 1)&(iris.sepal_width >= 1)&(iris.petal_length >= 1)&(iris.petal_width >= 1)]

     sepal_length  sepal_width  petal_length  petal_width            class
50            7.0          3.2           4.7          1.4  Iris-versicolor
51            6.4          3.2           4.5          1.5  Iris-versicolor
52            6.9          3.1           4.9          1.5  Iris-versicolor
53            5.5          2.3           4.0          1.3  Iris-versicolor
54            6.5          2.8           4.6          1.5  Iris-versicolor
..            ...          ...           ...          ...              ...
145           6.7          3.0           5.2          2.3   Iris-virginica
146           6.3          2.5           5.0          1.9   Iris-virginica
147           6.5          3.0           5.2          2.0   Iris-virginica
148           6.2          3.4           5.4          2.3   Iris-virginica
149           5.9          3.0           5.1          1.8   Iris-virginica

[100 rows x 5 columns]

1.5 Seleciona todas as amostras com a classe/label igual a ‘Irissetosa’. Quantas amostras obténs?

AttributeError: 'DataFrame' object has no attribute 'label'

## Exercício 2: NumPy array Indexing/Slicing

2.1 Adiciona um método ao objeto Dataset que remove todas as
amostras que contêm pelo menos um valor nulo (NaN). Nota que o
objeto resultante não deve conter valores nulos em para nenhuma
feature/variável independente. Nota também que deves atualizar o
vetor y removendo as entradas associadas às amostras a remover.
Deves usar apenas funções no NumPy. Nome do método: dropna

In [45]:
iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

2.2 Adiciona um método ao objeto Dataset que substitui todas os
valores nulos por outro valor (argumento da função/método). Nota
que o objeto resultante não deve conter valores nulos em para
nenhuma feature/variável independente. Deves usar apenas funções
no NumPy. Nome do método: fillna